-U -q "google-generativeai>=0.8.3"
langchain
-U langchain-community
--upgrade --quiet  langchain-google-genai
sentence-transformers
"pinecone[grpc]" --upgrade
"pinecone[asyncio]"
bs4
requests
fastapi
uvicorn
tqdm
python-dotenv
scrapy>=2.11.0